node_modules
dist
.DS_Store
*.local

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/crash.log
terraform/.terraform.tfstate.lock.info
